{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FormationName</th>
                <th>Diploma</th>
                <th>Domain</th>
                <th>BeginDate</th>
                <th>EndDate</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.formationName }}</td>
                <td>{{ formation.diploma }}</td>
                <td>{{ formation.domain }}</td>
                <td>{{ formation.beginDate ? formation.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ formation.endDate }}</td>
                <td>{{ formation.description }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_new') }}">Create new</a>
{% endblock %}
