{{ form_start(form) }}
<div class="row d-flex align-items-baseline">
    <div class="col-lg-6 col-12">
        {{ form_row(form.name, { 'label': 'Nom :' }) }}
    </div>
    <div class="col-lg-6 col-12">
        {{ form_row(form.phone, { 'label': 'Téléphone :' }) }}
    </div>
</div>
<div class="row d-flex align-items-baseline">
    <div class="col-12">
        {{ form_row(form.description, { 'label': 'Description de l\'entreprise :' }) }}
    </div>
</div>
<div class="row d-flex align-items-baseline">
    <div class="col-lg-4 col-12">
        {{ form_row(form.imageFile, { 'label': 'Photo :' }) }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form_row(form.address1, { 'label': 'Adresse :' }) }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form_row(form.address2, { 'label': 'Complément d\'adresse :' }) }}
    </div>
</div>
<div class="row d-flex align-items-baseline">
    <div class="col-lg-4 col-12">
        {{ form_row(form.zipcode, { 'label': 'Code postal :' }) }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form_row(form.city, { 'label': 'Ville :' }) }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form_row(form.country, { 'label': 'Pays :' }) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-12">
        {{ form_row(form.email, { 'label': 'Email :' }) }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form_row(form.type, { 'label': 'Type :' }) }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form_row(form.siret, { 'label': 'Siret :' }) }}
    </div>

</div>
<div class="row d-flex justify-content-end">
    <button class="btn btn-success">{{ button_label|default('S\'inscrire') }}</button>
</div>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('appearNameFile') }}
{% endblock %}